// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

// Bulma Base
@import './node_modules/bulma/sass/base/generic'
html
    overflow-y: auto
body
    background: linear-gradient(to right, #136a8a, #267871)
    min-height: 100vh
    font-family: $family-sans-serif
    letter-spacing: 0.1em
    +mobile
        background: url('#{$path}background.png') no-repeat center
        background-size: cover
#app
    +tablet
        position: absolute
        top: 45%
        left: 50%
        transform: translate(-50%, -50%)