// -----------------------------------------------------------------------------
// Typography for websites
// -----------------------------------------------------------------------------
h1
    font-size: 32px
    text-align: center
    padding: 20px 0
    color: $white
    +tablet
        font-size: 52px