// -----------------------------------------------------------------------------
// This file contains all styles related to the weather component.
// -----------------------------------------------------------------------------
.weather
    width: 370px
    height: 373px
    max-width: 100%
    margin: 0 auto
    white-space: pre
    text-align: center
    color: $white    
    background-size: cover
    font-size: 20px
    padding: 20px 15px
    +tablet
        border-radius: 10px
        background: url('#{$path}background.png') no-repeat center
    &__title
        margin: 20px 0 10px
    &__temp
        font-size: 40px
        margin-bottom: 15px
    &__date
        margin-top: 30px