<template>
  <div id="app">
    <div class="container">
      <h1>Weather Widget</h1>
      <div class="weather" v-if="weather">
        <h2 class="weather__title">{{ address }}</h2>
        <p class="weather__temp">{{Math.round(weather.currently.temperature)}}°c</p>
        <skycon v-bind:condition="weather.currently.icon"></skycon>
        <div class="weather__date">{{date()}}</div>
      </div>
    </div>
  </div>
</template>

<script>
import API from "@/lib/API";
import "./sass/main.sass";

export default {
  name: "app",
  data() {
    return {
      weather: null,
      address: ""
    };
  },
  methods: {
    date: function() {
      let months = [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December"
      ];
      let days = [
        "Sunday",
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday"
      ];

      let date = new Date();
      return `${
        months[date.getMonth()]
      } ${date.getDate()}, ${date.getFullYear()} \n ${days[date.getDay()]}`;
    },
    loadWeather: function() {
      API.getWeather().then(result => {
        this.weather = result.weather;
        this.address = result.address;
      });
    }
  },
  mounted() {
    this.loadWeather();
  }
};
</script>